@model Survey
<form asp-controller="home" asp-action="result" method="POST">
  <div class="form-group">
    <span asp-validation-for="Name"></span>
    <label asp-for="Name"></label>
    <Input type="text" asp-for="Name">
  </div>
  <div class="form-group">
    <span asp-validation-for="DojoLocation"></span>
    <label asp-for="DojoLocation"></label>
    <select asp-for="DojoLocation">
      <option>San Jose</option>
      <option>Crypton</option>
    </select>
  </div>
  <div class="form-group">
    <span asp-validation-for="FavoriteLanguage"></span>
    <label asp-for="FavoriteLanguage"></label>
    <select asp-for="FavoriteLanguage">
      <option>C#</option>
      <option>Java</option>
    </select>
  </div>
  <div class="form-group">
    <span asp-validation-for="Comment"></span>
    <label asp-for="Comment"></label>
    <textarea class="form-control rounded-0" asp-for="Comment"></textarea>
  </div>
  <button type="submit">Submit</button>
</form>