<form action="/result" method="POST">
  <div class="form-group">
    <label for="Name">Name:</label>
    <Input type="text" name="Name" id="Name">
  </div>
  <div class="form-group">
    <label for="Dojo_Location">Dojo Location:</label>
    <select name="DojoLocation" id="DojoLocation">
      <option>
        San Jose
      </option>
      <option>
        Crypton
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="FavoriteLanguage">Favorite Language:</label>
    <select name="FavoriteLanguage" id="FavoriteLanguage">
      <option>
        C#
      </option>
      <option>
        Java
      </option>
  </div>
  <div class="form-group">
    <label for="Comment">Comment(Optional): </label>
    <textarea class="form-control rounded-0" name="Comment" id="Comment"></textarea>
  </div>
  <button type="submit">Submit</button>
</form>