@* @{
  ViewData["Title"] = "Home Page";
  }

  <div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  </div> *@

@using _019_viewmodel_fun.Models
@model Message

<h1>Here is a message!</h1>
<p>@Model.Content</p>