<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/">Home</a>
      <p>|</p>
      <a href="/projects">Projects</a>
      <p>|</p>
      <p>Contact</p>
    </div>
    <h1>Contact</h1>
    <form class="entry_form">
      <div class="form_body">
        <div class="column">
          <label for="name_entry">Name: </label>
          <input type="text" name="name_entry">
          <label for="email_entry">Email: </label>
          <input type="email" name="email_entry">
        </div>
        <div class="column">
          <label for="message_entry">Message: </label>
          <textarea name="message_entry"></textarea>
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>