<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
  <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
  <div class="container">
    <div class="header">
      <p>Home</p>
      <p>|</p>
      <a href="/projects">Projects</a>
      <p>|</p>
      <a href="/contact"> Contact</a>
    </div>
    <h1>About Me</h1>
    <div class=content>
      <div class=column>
        <img src="~/img/smugholo.png" alt="best girl" width="300px">
        <p>Holo</p>
        <p>Apples!</p>
      </div>
      <div class=column>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mauris massa, sagittis et elit iaculis, semper
          volutpat mauris. Maecenas ligula leo, lacinia vitae mollis non, vulputate vitae metus. Morbi ac aliquet diam.
          Aliquam ultricies imperdiet condimentum. Sed bibendum consectetur mauris. Sed quis mauris erat. Cras iaculis
          vestibulum rhoncus. Morbi eu laoreet ipsum. Suspendisse nec metus malesuada, cursus dolor in, viverra ex.
          Morbi hendrerit vehicula viverra. Vivamus dictum tincidunt neque, ornare dictum tortor volutpat ac. In nec
          laoreet dolor, viverra tempus velit. Etiam accumsan quam et ex vulputate, in vestibulum diam aliquam.
        </p>
        <p>
          Nullam mollis urna ut fringilla iaculis. In rhoncus sem ante, ac feugiat velit luctus et. Nam ac eros congue,
          pharetra ex quis, scelerisque libero. Aenean metus ligula, egestas eu blandit ullamcorper, faucibus eu ex. Sed
          arcu tortor, dignissim ut pretium vitae, maximus id erat. Cras at egestas purus. Morbi non dictum nibh, at
          laoreet mi. Curabitur euismod pretium metus at maximus. Orci varius natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus.
        </p>
        <p>
          Cras vel metus tempor, consectetur eros molestie, tristique mauris. Donec interdum viverra suscipit. Aliquam
          in ullamcorper nunc. Sed lobortis tempus nibh vitae ultricies. Nulla facilisi. Sed dapibus urna massa, in
          ultricies lacus convallis vitae. Curabitur varius placerat nisl id dictum. Suspendisse pharetra tellus odio,
          sed iaculis velit consequat sed. Aliquam pellentesque nulla egestas tellus posuere, quis posuere ipsum
          consequat.</p>
      </div>
    </div>
  </div>

</body>

</html>